body {
  font-size: 1.6rem;
  font-family: var(--main-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.btn {
  cursor: pointer;
  border: 0;
  font-size: 1.7rem;
  padding: 0.75rem 2.75rem;
  border-radius: 8px;
  background-color: var(--main-blue);
  color: var(--main-white);
  font-weight: bold;
  transition: filter 200ms ease-in-out;

  &:hover {
    filter: brightness(1.2);
  }
}
