:root {
  --font-size: 10px;
  --main-font: 'Roboto', sans-serif;
  --main-white: #f9faf8;
  --main-blue: #3882f6;
  --secondary-white: #e5e7eb;
  --main-dark: #1f2937;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--font-size);
  scroll-behavior: smooth;

  @media screen and (max-width: 1200px) {
    font-size: 60%;
  }

  @media screen and (max-width: 980px) {
    font-size: 58%;
  }

  @media screen and (max-width: 480px) {
    font-size: 55%;
  }
}
